<p id="notice"><%= notice %></p>

<p>
  <b>Business units number:</b>
  <%= @zero_find_check_info.business_units_number %>
</p>

<p>
  <b>Operating name:</b>
  <%= @zero_find_check_info.operating_name %>
</p>

<p>
  <b>Number import export declarations:</b>
  <%= @zero_find_check_info.number_import_export_declarations %>
</p>

<p>
  <b>Number import export inspection:</b>
  <%= @zero_find_check_info.number_import_export_inspection %>
</p>

<p>
  <b>Import export inspection rate:</b>
  <%= @zero_find_check_info.import_export_inspection_rate %>
</p>

<p>
  <b>Declarations number:</b>
  <%= @zero_find_check_info.declarations_number %>
</p>

<p>
  <b>Import export:</b>
  <%= @zero_find_check_info.import_export %>
</p>

<p>
  <b>Examination handling results:</b>
  <%= @zero_find_check_info.examination_handling_results %>
</p>

<p>
  <b>Declaration customs:</b>
  <%= @zero_find_check_info.declaration_customs %>
</p>

<p>
  <b>Date value:</b>
  <%= @zero_find_check_info.date_value %>
</p>


<%= link_to 'Edit', edit_zero_find_check_info_path(@zero_find_check_info) %> |
<%= link_to 'Back', zero_find_check_infos_path %>
