<tr class="edit-user-<%= user.id %>" style="border: 2px solid #cccc00">
<td colspan="6">
<form class="form edit-user-form">

    <legend> <%= $.i18n._('label.editing_user') + user.username %></legend>

<div class="row-fluid">
<div class="span6">
    <label><%= $.i18n._('label.user.fullname') %></label>
    <input name="fullname" type="text" value="<%= user.fullname %>"/>

    
    <label><%= $.i18n._('label.user.role') %></label>
    <select name="roles">
        <% var roles = cntl.getRoles();
           var found = false;
	   for (var i = 0; i < roles.length; i++) { 
                var is_selected = "";
                if (found == false && user.roles[0].id == roles[i].id) {
                    is_selected = " selected";
                    found = true;
                }
            %>
            <option value=<%== roles[i].id %><%= is_selected %>><%== roles[i].name %></option>
        <% } %>
    </select>
    
    <label><%= $.i18n._('label.user.organization') %></label>
    <input name="organizations" type="text" value="<%= user.orgs %>"/>

</div>
<div class="span6">    

            <label><%= $.i18n._('label.user.doc_type') %></label>
            <select name="doc_type">
               <% { var d = user.doc_type; %>
                    <option value="0"<%= d=='0' ? " selected" : ""%>>不限</option>
                    <option value="1"<%= d=='1' ? " selected" : ""%>>出口</option>
                    <option value="2"<%= d=='2' ? " selected" : ""%>>进口</option>
                 <% } %>
            </select>

    <label><%= $.i18n._('label.user.password.edit') %></label>
    <input name="password" type="password" />
    
    <fieldset class="control-group">
        <label><%= $.i18n._('label.user.pass_confirm') %></label>
        <input name="password-confirm" type="password" />
    </fieldset>
    
</div>
</div>
    <div class="pull-right">
        <button type="submit" class="btn btn-primary" data-loading-text="Saving..." autocomplete="off"><%= $.i18n._('btn.save') %></button>
        <button type="button" class="btn cancel-edit" data-loading-text="Cancel" autocomplete="off">
<%= $.i18n._('btn.cancel') %></button>
    </div>
</form>
</td>
</tr>
