<div class="well">
<form class="form" id="new-user-form">
    <div class="row-fluid">
        <div class="span6">
            <fieldset class="control-group">
                <label><%= $.i18n._('label.user.username') %></label>
                <input name="username" type="text" />
            </fieldset>
            <fieldset class="control-group">
                <label><%= $.i18n._('label.user.fullname') %></label>
                <input name="fullname" type="text" />
            </fieldset>
            
           <fieldset>
            <label><%= $.i18n._('label.user.role') %></label>
            <select name="roles">
                <% var roles = cntl.getRoles();
                   for (var i = 0; i < roles.length; i++) { %>
                    <option value=<%== roles[i].id %>><%== roles[i].name %></option>
                <% } %>
            </select>
            </fieldset>

           <fieldset>
            <label><%= $.i18n._('label.user.doc_type') %></label>
            <select name="doc_type">
                    <option value="0">不限</option>
                    <option value="1">出口</option>
                    <option value="2">进口</option>
            </select>
            </fieldset>


        </div>
        <div class="span6">
            <fieldset class="control-group">
            <label><%= $.i18n._('label.user.organization') %></label>
<div class="org-selection-holder"></div>
            </fieldset>	

            <fieldset class="control-group">
                <label><%= $.i18n._('label.user.password') %></label>
                <input name="password" type="password" value="123456"/>
            </fieldset>
            <fieldset class="control-group">
                <label><%= $.i18n._('label.user.pass_confirm') %></label>
                <input name="password-confirm" type="password" value="123456" />
            </fieldset>
        </div>

        <div class="pull-left">
            <button type="submit" class="btn btn-primary" data-loading-text="Creating..." autocomplete="off"><%= $.i18n._('btn.create') %></button>
            <button type="button" class="btn cancel-create" data-loading-text="Cancel" autocomplete="off"><%= $.i18n._('btn.cancel') %></button>
        </div>
    </div>
</form>
</div>
