<%= form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :folder_id %><br />
    <%= f.text_field :folder_id %>
  </div>
  <div class="field">
    <%= f.label :doc_type %><br />
    <%= f.text_field :doc_type %>
  </div>
  <div class="field">
    <%= f.label :org %><br />
    <%= f.text_field :org %>
  </div>
  <div class="field">
    <%= f.label :box %><br />
    <%= f.text_field :box %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :edc_date %><br />
    <%= f.date_select :edc_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
