<h1>Listing folders</h1>

<table>
  <tr>
    <th>Folder</th>
    <th>Doc type</th>
    <th>Org</th>
    <th>Box</th>
    <th>Serial number</th>
    <th>Edc date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @folders.each do |folder| %>
  <tr>
    <td><%= folder.folder_id %></td>
    <td><%= folder.doc_type %></td>
    <td><%= folder.org %></td>
    <td><%= folder.box %></td>
    <td><%= folder.serial_number %></td>
    <td><%= folder.edc_date %></td>
    <td><%= link_to 'Show', folder %></td>
    <td><%= link_to 'Edit', edit_folder_path(folder) %></td>
    <td><%= link_to 'Destroy', folder, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Folder', new_folder_path %>
