<p id="notice"><%= notice %></p>

<p>
  <b>Folder:</b>
  <%= @folder.folder_id %>
</p>

<p>
  <b>Doc type:</b>
  <%= @folder.doc_type %>
</p>

<p>
  <b>Org:</b>
  <%= @folder.org %>
</p>

<p>
  <b>Box:</b>
  <%= @folder.box %>
</p>

<p>
  <b>Serial number:</b>
  <%= @folder.serial_number %>
</p>

<p>
  <b>Edc date:</b>
  <%= @folder.edc_date %>
</p>


<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
