<% var status_mapping = { 
	1:'已经接收',
	0:'等待接收'
}; %>
<td colspan=4 style="border:2px solid #cccc00" >
<div class=''>
<div>
关区：<%= orgJsonDictionary[this.business_process[0].org] %>   处理提交关员：<%= (this.business_process[0].ir_fullname == undefined) ? this.business_process[0].ir_username : this.business_process[0].ir_fullname %>   交接单	当前状态：<%= status_mapping[this.business_process[0].ir_status]%>
</div>
<table class="table">
<thead>
	<th>项目</th>
	<th>开始理单号</th>
	<th>结束理单号</th>
	<th>份数</th>
	<th>包数</th>
</thead>
<tbody>
<% for(var i=0;i<this.business_process.length;i++){%>
	<tr>
	<td><%= business_processJsonDictionary[this.business_process[i].doc_type]%></td>
	<td><%= this.business_process[i].doc_start%></td>
	<td><%= this.business_process[i].doc_end%></td>
	<td><%= this.business_process[i].number_copies%></td>
	<td><%= this.business_process[i].package%></td>
</tr>
<%}%>
<tr>
<td colspan='3'> 合计 </td>
<td > <%= this.sum_json.number_copies %></td>
<td > <%= this.sum_json.package %></td>
</tr>
</tbody>
</table>	
<% if (this.business_process[0].ir_status == 0) {%>
<button class="btn btn-primary">接收</button>
<% }%>
<% if (false){ %>
<button class="btn btn-info btn-print">打印</button>
<% }%>
<button class="btn btn-cancel">取消</button>
</div>
</td>
