
<table class="table table-condensed">
<thead>
<tr>
    <th>单证号</th>
    <th>国家</th>
    <th>城市</th>
    <th>Code</th>
</tr>
 </thead>

<tbody>
<% for(i=0;i<doc_info.length;i++) { %>

<tr <%= doc_info[i]%>>
 <td><a href="#"><%== doc_info[i].doc_id %></a></td>
 <td><%== doc_info[i].Country %></td>
 <td><%== doc_info[i].City %></td>
 <td><%== doc_info[i].code %></td>
</tr>
 <% }; %>

</tbody>
</table>
