<h1>Listing special_documents</h1>

<table>
  <tr>
    <th>Doc</th>
    <th>Pages</th>
    <th>Folder</th>
    <th>Doc type</th>
    <th>Label</th>
    <th>Serial number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @special_documents.each do |special_document| %>
  <tr>
    <td><%= special_document.doc_id %></td>
    <td><%= special_document.pages %></td>
    <td><%= special_document.folder %></td>
    <td><%= special_document.doc_type %></td>
    <td><%= special_document.label %></td>
    <td><%= special_document.serial_number %></td>
    <td><%= link_to 'Show', special_document %></td>
    <td><%= link_to 'Edit', edit_special_document_path(special_document) %></td>
    <td><%= link_to 'Destroy', special_document, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Special document', new_special_document_path %>
