<p id="notice"><%= notice %></p>

<p>
  <b>Declarations number:</b>
  <%= @import_most_time_org_doc_info.declarations_number %>
</p>

<p>
  <b>Mode transport:</b>
  <%= @import_most_time_org_doc_info.mode_transport %>
</p>

<p>
  <b>Release time:</b>
  <%= @import_most_time_org_doc_info.release_time %>
</p>

<p>
  <b>Accept declaration time:</b>
  <%= @import_most_time_org_doc_info.accept_declaration_time %>
</p>

<p>
  <b>Overall operating hours hours:</b>
  <%= @import_most_time_org_doc_info.overall_operating_hours_hours %>
</p>

<p>
  <b>Declaration customs code:</b>
  <%= @import_most_time_org_doc_info.declaration_customs_code %>
</p>

<p>
  <b>Declaration customs:</b>
  <%= @import_most_time_org_doc_info.declaration_customs %>
</p>


<%= link_to 'Edit', edit_import_most_time_org_doc_info_path(@import_most_time_org_doc_info) %> |
<%= link_to 'Back', import_most_time_org_doc_infos_path %>
