<div class='interchange-receipt'>
<div class="tabbable" >
	<ul class="nav nav-tabs">
		<li class="active"><a href="#new-interchange-receipt" data-toggle="tab" >交接单录入</a><li>
		<li><a href="#view-interchange-receipt" data-toggle="tab" >查看交接单</a><li>
	</ul>
	<div class="tab-content" >
		<div id="new-interchange-receipt" class="tab-pane active well" style="width:55%;margin-left:20%;" >
		<form class='form' id='new-create-interchange-receipt'>
					<table class="table table-condensed" >
						<thead>
							<th>单证种类</th>
							<th>开始理单号</th>
							<th>结束理单号</th>
							<th>包数</th>
							<th width='25'></th>
						</thead>
						<tbody>
						<% 
						var doc_type_map = {'jk':'进口','ck':'出口'};
						var doc_year_map = {3:'三',5:'五',11:'十一'};
						var i=1;
						%>
						<%
						$.each(doc_type_map,function(type_name,type_text){
							$.each(doc_year_map,function(year_name,year_text){
								%>
								<tr class="control-group doc-type-<%= i++ %>">
								<td><label><%= type_text + year_text %>年</label></td>
								<td><input type='text' id="<%= type_name + year_name + 'y' %>_begin"	name="begin"	class="input-large doc-group" /></td>
								<td><input type='text' id="<%= type_name + year_name + 'y' %>_end"		name="end"		class="input-large doc-group" /></td>
								<td><input type='text' id="<%= type_name + year_name + 'y' %>_package"	name="package"	class="input-mini  doc-group" maxlength='3' /></td>
								<td class="verify-tips" ><span><i></i></span></td>
								</tr>
								<%	
							});	
						});
						%>
							<tr class="doc-type-7">
								<td>其他单证<br/>（删改单）</td>
								<td><hr /></td>
								<td><hr /></td>
								<td><input type='text' name='package' class='input-mini' maxlength=3 /></td>
								<td></td>
							</tr>
							<tr class="doc-type-8">
								<td>退票再送</td>
								<td><hr /></td>
								<td><hr /></td>
								<td><input type='text' name='package' class='input-mini' maxlength=3 /></td>
								<td></td>
							</tr>
							<tr class="doc-type-9">
								<td>存量单证</td>
								<td><hr /></td>
								<td><hr /></td>
								<td><input type='text' name='package' class='input-mini' maxlength=3 /></td>
								<td></td>
							</tr>

						</tbody>
					</table>
					<hr />
			<button type="submit" class="btn btn-primary btn-new"><i class="icon-plus icon-white"></i> 提交</button>
			<button type="submit" class="btn btn-info btn-print" type="button" ><i class="icon-print icon-white"></i> 打印</button>
		</form>
		</div>
		<div id="view-interchange-receipt" class="tab-pane well" >
			<form>
			<div class="row-fluid" >
				<div class="span6">
					<label class="">隶属关区</label>
					<span class='subjection_org'>
					<input type='text' value='<%= orgJsonDictionary[this.subjection_org] + "(" + this.subjection_org + ")" %>' readonly title="您当前无法修改此选项,如需改变所在的隶属关区请联系管理员修改您的用户资料" />
					<input type='hidden' name="subjection_org" value='<%= this.subjection_org %>' />
					</span>
				</div>
				<div class="span6">
					<label class="">日期</label>
					<input type="text" name='date' />
				</div>
				<button type='submit' class="btn btn-primary"><i class="icon-search icon-white"></i> 搜索</button>
			</div>
			</form>
		</div>
	</div>
</div>
<div class="create-interchange-receipt-list"></div>
</div>
