<tr <%= this%>>
<% var pos = this.name.indexOf('/');
   var d_name = this.name;
   if (pos != -1) {
      d_name = d_name.substring(0, pos);
   }%>

    <td><%= d_name %></td>

    <td><% if (this.doc_ids instanceof Array) { %>
    <%= this.doc_ids.join() %><% } else {%>
<%= this.doc_ids %>
    <% } %></td>


    <td>
        <button class="btn btn-mini edit-dg"><i class="icon-edit icon-blue"></i><%= $.i18n._('btn.edit') %></button>
        <button class="btn btn-mini btn-danger delete-dg" data-loading-text="Deleting..." autocomplete="off">
            <i class="icon-trash icon-white"></i><%= $.i18n._('btn.delete') %>
        </button>
    </td>
</tr>
