<tr class="detial_form" >
<td colspan='10' style="border:2px solid #cccc00;"   >
<!--startprint-->
<div style="margin: 30px 100px 30px 100px;" class="well">	
<form onsubmit="return false;">
<span id='print_detial_form' >
<legend>详细信息(流水号：<%= model.serial_number%>)</legend>
<table class="table table-condensed table-striped text-decoration-right"   >
<tr>
	<td>业务点:</td>
	<td><%= orgJsonDictionary[model.org] + "(" + model.org  + ")"  %>  </td> 
	<td>抽单原由:</td>
	<td><%= model.application_originally %></td>
</tr>
<tr>
	<td>科室:</td>
	<td><%= model.department_name %>  </td> 
	<td>状态:</td>
	<td><%= scene_lent_paper_documentJsonDictionary[model.status.toString()] %></td>
</tr>
<tr>
	<td>存档地点:</td>
	<td><span class='label'><%= orgJsonDictionary[model.storage_sites]  %></span></td> 
	<td>借阅单证数量:</td>
	<%
		var n = 0;
		for(var s=0;s < model.requisition_details.length;s++){
			!model.requisition_details[s].is_check && n++;
		}
	%>
	<td>
	<%= n %>
	<td>
</tr>
<tr>
	<td>申请人员:</td>
	<td><%= model.apply_staff_fullname || '' %></td>
	<td>申请时间:</td>
	<td><%= $.date(model.created_at).format("yyyy-MM-dd hh:mm:ss") %></td>
</tr>
<tr>
	<td>审批科长:</td>
	<td><%= model.approving_officer_fullname || ''  %></td>
	<td>科长审批时间:</td>
	<td><%= $.date(model.approval_time).format("yyyy-MM-dd hh:mm:ss") %></td>
</tr>
<tr>
	<td>审批关长:</td>
	<td><%= model.two_approvers_fullname || ''  %></td>
	<td>关长审批时间:</td>
	<td><%= $.date(model.two_approver_time).format("yyyy-MM-dd hh:mm:ss") %></td>
</tr>
<% if(model.termination_instructions){ %>
<tr>
<td>退回原因：</td>
<td><%= model.termination_instructions%></td>
<td></td>
<td></td>
</tr>
<% } %>

<tr>
	<td>档案管理人员:</td>
	<td><%= model.registration_staff_fullname || '' %></td>
	<td>档案管理时间:</td>
	<td><%= $.date(model.check_in_time).format("yyyy-MM-dd hh:mm:ss") %></td>
</tr>

<tr>
	<td>核销人员:</td>
	<td><%= model.write_off_staff_fullname || '' %></td>
	<td>核销时间:</td>
	<td><%= $.date(model.write_off_time).format("yyyy-MM-dd hh:mm:ss") %></td>
</tr>
<td colspan="4">
</td>
</tr>
</table>
<div class="well"  >
<table class="table " >
		<caption><legend>抽单信息</legend></caption>
		<tr>
			<th>报关单号</th>
			<th>理单号码</th>
			<th>状态</th>
			<% if(($.inArray(model.status,[13,14]) != -1)){ %><th>查无此单</th><% } %>
		</tr>
	<tbody>
	<% 
		var t = 0;
		for(var j = 0; j < model.requisition_details.length; j++) { %>
		<tr>
			<td><span class="label"><%= model.requisition_details[j].single_card_number%></span></td>
			<td><span class="label"><%= model.requisition_details[j].rationale_single_number%> </span></td>
			<td><span class="label"><%= model.requisition_details[j].status == 1 ? "已经电子化" : "尚未电子化"%> </span></td>
			<%
				if(action == 'register'){
					%><td><input type="checkbox" value='<%= model.requisition_details[j].id %>' /></td><%	
				}else if($.inArray(model.status,[13,14]) != -1){
					var is_checked = model.requisition_details[j].is_check;
					is_checked && t++;
					%>
					<td><input type="checkbox" value='<%= model.requisition_details[j].id %>' <%= is_checked ? 'checked' : ''  %> disabled='disabled'  /></td>
				<%}else{ %>
					<td></td>
			<%	} 
			%>
			
		</tr>
	<% } %>
	</tbody>
</table>
</div>
</span>
<!---endprint-->
	<br />
	<%
	var name_map = {
		10:{
			fullname:model.apply_staff_fullname,
			text:'撤销审批，重新指定一级审批'
		},
		11:{
			fullname:model.approving_officer_fullname,
			text:'撤销审批，重新指定二级审批'
		},
		21:{
			fullname:model.apply_staff_fullname,
			text:'重新指定一级审批'
		},
		22:{
			fullname:model.approving_officer_fullname,
			text:'重新指定二级审批'
		}
	};
	%>
	<% var user = this.ctx.options.clientState.attr('user') %>
	

	<br />
	<br />
	<!-- Accept -->
	<%
	if($.inArray(action,['approval','approval_guan','register','write_off']) != -1){
	%>
		<%
		if(action == 'approval' && model.status == 10 ){
		%>
			<b>审批关长:</b>
			<%== $.View('//docview/ui/views/gld_user.ejs',this.ctx) %>
			退回理由：<input type='text' name='reject_text' />
			<br />
			<br />
		<%
		}
		%>
		<button type="button" class="btn btn-primary btn-accept" ><%= (action.indexOf('approval') == -1) ? "完成" : "通过" %></button>
	<%	
	}
	%>
	<!-- Accept end -->

	<!-- Reject -->
	<%
	if(action.indexOf('approval') != -1){
		%><button type="button" class="btn btn-danger btn-reject">退回</button><%
	}
	%>
	<!-- Reject end -->

	<!-- Revoaction -->
	<%if(action == 'requisition_history' &&  name_map[model.status] && name_map[model.status].fullname == user.fullname){ %>
		<%if( $.inArray(model.status,[10,21]) != -1 ){%>
			<b>审批科长:</b>
			<%== $.View('//docview/ui/views/kz_user.ejs',this.ctx) %>	
		<%}%>
		<%if( $.inArray(model.status,[11,22]) != -1 ){%>
			<b>审批关长:</b>
			<%== $.View('//docview/ui/views/gld_user.ejs',this.ctx) %>	
		<%}%>
		<br />
		<br />
		<button type="button" class="btn btn-danger btn-revocation" ><i class="icon-edit icon-white"></i> <%= name_map[model.status].text %></button>
		<%if(!model.approving_officer){ %>
			<button type="button" class="btn btn-danger btn-delete"><i class="icon-trash icon-white" ></i> 删除</button>
		<%}%>	
	<%}%>	
	<!-- Revocation end -->

	<button type="button" class="btn btn-info btn-print"><i class="icon-print icon-white"></i> 打印</button>
	<button type="button" class="btn btn-cancel">取消</button>
	<br />
</form>
</div>
</td>
</tr>
