<tr class="edit-role-<%= role.id %>"  style="border: 2px solid #cccc00">
<td colspan="3">
<form class="form edit-role-form">
    <legend> <%= $.i18n._('label.editing_role') + role.name %></legend>
    <div class="row-fluid">
	<%== $.View("//docview/manage/accounts/roles/views/role_form.ejs")%>
    </div>

  <div class="pull-right">
        <button type="submit" class="btn btn-primary" data-loading-text="Saving..." autocomplete="off"><%= $.i18n._('btn.save') %></button>
        <button type="button" class="btn cancel-edit" data-loading-text="Cancel" autocomplete="off">
<%= $.i18n._('btn.cancel') %></button>
    </div>

</form>


</td>
</tr>
