<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :doc_id %><br />
    <%= f.text_field :doc_id %>
  </div>
  <div class="field">
    <%= f.label :pages %><br />
    <%= f.number_field :pages %>
  </div>
  <div class="field">
    <%= f.label :folder %><br />
    <%= f.text_field :folder %>
  </div>
  <div class="field">
    <%= f.label :doc_type %><br />
    <%= f.text_field :doc_type %>
  </div>
  <div class="field">
    <%= f.label :org %><br />
    <%= f.text_field :org %>
  </div>
  <div class="field">
    <%= f.label :org_applied %><br />
    <%= f.text_field :org_applied %>
  </div>
  <div class="field">
    <%= f.label :modified %><br />
    <%= f.check_box :modified %>
  </div>
  <div class="field">
    <%= f.label :checkedout %><br />
    <%= f.check_box :checkedout %>
  </div>
  <div class="field">
    <%= f.label :inquired %><br />
    <%= f.check_box :inquired %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
