<p>&nbsp;</p>
<% if (print) {

   if (print == 'show_doc') {
%>
<div class="well">
<button class="btn btn-large btn-primary commit-comments" data-doc-index=<%= doc_index %>>确认单证种类修改</button>
</div>
<%
   }else {
   var showPrint = '打印';
   if (print == 'court') {
      showPrint = '出证';
   }

 %>
<div class="well">
<button class="btn btn-large btn-primary print-all" data-doc-index=<%= doc_index %>> <%= showPrint %>(所有页面)</button>
<button class="btn btn-large btn-primary print-selected" data-doc-index=<%= doc_index %>> <%= showPrint %>(选中页面)</button>
</div>
<%}}%>


<!--button type="button" class="btn select-all">Select All</button-->
<ul class="thumbnails">
<div class="row">
  <% var itemCount = 0;
for (i = 0; i< images.length; i++) {
if (i > 0 && i % 6 == 0) {
%>
</div><div class="row"><%
} %>      
<li class="span2">
<a href="#<%= (i+1) %>" class="thumbnail" data-doc-index=<%= doc_index %>>
<img src="<%= images[i] %>" />
<img class='error icon-pencil icon-white' style="display:<%= (comment_list[i] == true) ? "" : "none"%>;"/> 
</a>
			第<%= (i+1) %>页<input type="checkbox" class="select_checkbox_print" value="<%= i %>"></input>
	
</li>
  <% } %>

</div>
</ul>
