<p id="notice"><%= notice %></p>

<p>
  <b>Date value:</b>
  <%= @normal_import_price_less_record.date_value %>
</p>

<p>
  <b>Declarations number:</b>
  <%= @normal_import_price_less_record.declarations_number %>
</p>

<p>
  <b>Product code:</b>
  <%= @normal_import_price_less_record.product_code %>
</p>

<p>
  <b>Product number:</b>
  <%= @normal_import_price_less_record.product_number %>
</p>

<p>
  <b>Dollar value:</b>
  <%= @normal_import_price_less_record.dollar_value %>
</p>

<p>
  <b>First legal quantity:</b>
  <%= @normal_import_price_less_record.first_legal_quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @normal_import_price_less_record.price %>
</p>

<p>
  <b>Actual price cap:</b>
  <%= @normal_import_price_less_record.actual_price_cap %>
</p>

<p>
  <b>Actual price floor:</b>
  <%= @normal_import_price_less_record.actual_price_floor %>
</p>

<p>
  <b>National average price:</b>
  <%= @normal_import_price_less_record.national_average_price %>
</p>


<%= link_to 'Edit', edit_normal_import_price_less_record_path(@normal_import_price_less_record) %> |
<%= link_to 'Back', normal_import_price_less_records_path %>
