<p>&nbsp;</p>

<table class="table table-condensed table-striped">
<thead>
<tr>
 <th>月份</th>
<th>关区</th>
 <th>档案总数(指定时间段内)</th>
 <th>总页数</th>
 <th>查阅量</th>
 <th>查阅量占比</th>
</tr>
 </thead>

<tbody>
<%
 var i = 1;
 $.each(query_stats, function(key, val) {
    $.each(val, function(i, value) {
%>
<tr> <td><%== key %></td>
 <td><%== value.org %></td>
 <td><%== value.num_docs %></td>
 <td><%== value.num_pages %></td>
 <td><%== value.num_queries %></td>

 <td><%== value.percentage_qq %></td>

</tr>
<% }); }); %>

</tbody>
</table>


