<table class="table table-condensed">
	<thead>
		<tr>
			<th>报关单号</th>
			<th>报关单类别</th>
			<th>申报关区</th>
			<th>理单关区</th>
			<th>是否涉案</th>
			<th>是否借出</th>
			<th>理单日期</th>
			<th>最近操作日期</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i = 0; i < data.docs.length; i++) { 
			var record = data.docs[i];
			var colorspec =  "";
                        if (data.timedout[record.doc_id] != undefined) {
                            colorspec = "bgcolor=#ff0000";
                        }
 %>
			<tr>
		
				<td><%== record.doc_id %></td>
				<td><%== record.doc_type %></td>
				<td><%== record.org %></td>
				<td><%== record.org_applied %></td>
				<td><%== record.inquired ? '是':'否' %></td>
				<td><%== record.checkedout ? '是':'否' %></td>
				<td><%== record.edc_date %></td>
				<td <%==colorspec %>><%== record.updated_at %></td>
			</tr>
		<% } %>
	</tbody>
</table>
