<% var pageCount = 1; %>
<% for (var i = 0; i < this.length; i++) {
   var currentName = this[i].name; %>

    <% for (var j = 0; j < this[i].pages.length; j++) { %>
        <li class="page-<%= pageCount %>">
          <a id="pp<%= pageCount %>" href="#<%= pageCount %>"><%= pageCount %> <%= currentName %></a> <i class="icon-blue icon-pencil"></i>
        </li>
        <% pageCount++; %>
    <% } %>
<% } %>
