<li><font size=-1><a class="doc-overview" href="#<%= doc_index %>"><%= doc_label %></a>
<%if (searchMode == "show_doc") {%>
<div><%= (comments.length == 0) ? "" : ("(总共有" + comments.length +"张问题页面)")%></div>
<div data-index='<%= doc_index %>' class='folder-id-<%= folder_id%>'>册号：<br/> <%= folder_id %></div>
<% } %>
</font></li>
<% var pageCount = 1; %>
<% for (var i = 0; i < groups.length; i++) { %>
    <li class="nav-header type-<%= groups[i].type %>" data-toggle="collapse" data-target="#tree-group-<%= doc_index %>-<%= i %>">
        <%= groups[i].name %> (<%= groups[i].pages.length %>)
    </li>
    
    <div id="tree-group-<%= doc_index %>-<%= i %>" class="collapse">
    <% for (var j = 0; j < groups[i].pages.length; j++) { %>

        <li class="page-<%= pageCount %>">
            <a href="#<%= pageCount %>" data-doc-index=<%= doc_index %>>第 <%= pageCount %> 页</a>
        </li>
        <% pageCount++; %>
    <% } %>
    </div>
<% } %>
