<h1>Listing web_links</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Menu1</th>
    <th>Menu2</th>
    <th>Controller</th>
    <th>Action</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @web_links.each do |web_link| %>
  <tr>
    <td><%= web_link.name %></td>
    <td><%= web_link.description %></td>
    <td><%= web_link.menu1 %></td>
    <td><%= web_link.menu2 %></td>
    <td><%= web_link.controller %></td>
    <td><%= web_link.action %></td>
    <td><%= link_to 'Show', web_link %></td>
    <td><%= link_to 'Edit', edit_web_link_path(web_link) %></td>
    <td><%= link_to 'Destroy', web_link, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Web link', new_web_link_path %>
