<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @web_link.name %>
</p>

<p>
  <b>Description:</b>
  <%= @web_link.description %>
</p>

<p>
  <b>Menu1:</b>
  <%= @web_link.menu1 %>
</p>

<p>
  <b>Menu2:</b>
  <%= @web_link.menu2 %>
</p>

<p>
  <b>Controller:</b>
  <%= @web_link.controller %>
</p>

<p>
  <b>Action:</b>
  <%= @web_link.action %>
</p>


<%= link_to 'Edit', edit_web_link_path(@web_link) %> |
<%= link_to 'Back', web_links_path %>
