<p>&nbsp;</p>
<div class="well">
<form class="form" id="new-application-form">
<legend>创建申请表单</legend>
    <div class="row-fluid">
        <div class="span6">
            <fieldset class="control-group">
			<%== $.View('//docview/ui/views/org_subjection.ejs',this) %>
            </fieldset>
     </div>
	 <div class="span6">
		<%== $.View('//docview/ui/views/department.ejs',this) %>
    </div>
</div>
    <div class="row-fluid">
	 <div class="span6">
           <fieldset>
                <label>抽单原由</label>
                <input name="application_originally" type="text" required />
            </fieldset>
        </div>
	 <div class="span6">
	 </div>

    </div>
<hr />
    <div class="row-fluid">
        <div class="span12">

            <fieldset class="control-group">
            	<label style="display:inline-block;">抽单信息</label>
				<span style="display:inline-block;" ><button type="button" class="btn btn-mini btn-primary new-requisition-details"><i class="icon-plus icon-white"></i> 添加抽单信息</button> </span>
				<p>&nbsp;</p>
				<div class="requisition-details-text-holder">
					<%== $.View("//docview/ui/requisition/views/application/new_requisition_details.ejs")%>
				</div>
            </fieldset>	
        </div>

        <div class="pull-left">
			<%== $.View('//docview/ui/views/kz_user.ejs',this) %>
            <button type="submit" class="btn btn-primary" data-loading-text="Creating..." autocomplete="off"><%= $.i18n._('btn.create') %></button>
			<div style="display: inline-block;" ><label class='label label-info lbl-wait' style="display:none;" >Waiting ..</label></div>
        </div>
    </div>
</form>
</div>
