<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @query_history.user %>
</p>

<p>
  <b>Doc:</b>
  <%= @query_history.doc_id %>
</p>

<p>
  <b>Org:</b>
  <%= @query_history.org %>
</p>

<p>
  <b>Doc type:</b>
  <%= @query_history.doc_type %>
</p>

<p>
  <b>Ip:</b>
  <%= @query_history.ip %>
</p>

<p>
  <b>Print:</b>
  <%= @query_history.print %>
</p>


<%= link_to 'Edit', edit_query_history_path(@query_history) %> |
<%= link_to 'Back', query_histories_path %>
