
<div class="control-group">
<label  class="control-label"><%= label %></label>
<div class="controls">
 <select name="<%= name %>" style="width: 180px;">
<% 
	if (orgsDic != 'undefined'){
	for(var i=0;i< orgsDic.length;i++){
	    data = orgsDic[i];
	    if (data.dic_num != "2200" ) {
 %>
                <option value="<%= data.dic_num %>"><%= data.dic_name%>(<%=  data.dic_num%>)</option>
	    <% }else{%>
                <option value="">不限</option>
<%
	     }
	}
	}
%>
  </select>
  </div>
</div>
