<div class="control-group">
<label  class="control-label"><%= label %></label>
<div class="controls">
	  <label class="radiobox"><input type="radio" name="<%= name %>" value="" >不限</input></label>
	  <label class="radiobox"><input type="radio" name="<%= name %>" value="2225" >外港(2225)</input></label>
	  <label class="radiobox"><input type="radio" name="<%= name %>" value="2233" >浦东机场(2233)</input></label>
	  <label class="radiobox"><input type="radio" name="<%= name %>" value="2201" >浦江(2201)</input></label>
	  <label class="radiobox"><input type="radio" name="<%= name %>" value="2248" >洋山(2248)</input></label>
	  <label class="radiobox"><input type="radio" name="<%= name %>" value="2202" >吴淞(2202)</input></label>
     </div>
    </div>
