<div class="control-group">
<label  class="control-label"><%= label %></label>
<div class="controls">
	  <button type="button" name="<%= name %>" value="" class="btn button-option button-option-onblure">不限</button>
	  <button type="button" name="<%= name %>" value="2233" class="btn button-option ">浦东机场</button>
	  <button type="button" name="<%= name %>" value="2202" class="btn button-option ">吴淞</button>
	  <button type="button" name="<%= name %>" value="2201" class="btn button-option ">浦江</button>
	  <button type="button" name="<%= name %>" value="2225" class="btn button-option ">外港</button>
	  <button type="button" name="<%= name %>" value="2248" class="btn button-option ">洋山</button>
          <input type='hidden' name='<%= name %>' value="" />
     </div>
</div>
