<div class="control-group">
<label  class="control-label"><%= label %></label>
<div class="controls">
	  <input type="radio" name="<%= name %>" value="" >不限</input>
	  <input type="radio" name="<%= name %>" value="2225" >外港(2225)</input>
	  <input type="radio" name="<%= name %>" value="2233" >浦东机场(2233)</input>
	  <input type="radio" name="<%= name %>" value="2201" >浦江(2201)</input>
	  <input type="radio" name="<%= name %>" value="2248" >洋山-港区(2248)</input>
	  <input type="radio" name="<%= name %>" value="2249" >洋山-保税(2249)</input>
	  <input type="radio" name="<%= name %>" value="2231" >洋山市内(2231)</input>
	  <input type="radio" name="<%= name %>" value="2202" >吴淞(2202)</input>
	  <input type="radio" name="<%= name %>" value="2208" >吴淞-宝山(2208)</input>
     </div>
    </div>
