<p id="notice"><%= notice %></p>

<p>
  <b>Doc:</b>
  <%= @special_document.doc_id %>
</p>

<p>
  <b>Pages:</b>
  <%= @special_document.pages %>
</p>

<p>
  <b>Folder:</b>
  <%= @special_document.folder %>
</p>

<p>
  <b>Doc type:</b>
  <%= @special_document.doc_type %>
</p>

<p>
  <b>Label:</b>
  <%= @special_document.label %>
</p>

<p>
  <b>Serial number:</b>
  <%= @special_document.serial_number %>
</p>


<%= link_to 'Edit', edit_special_document_path(@special_document) %> |
<%= link_to 'Back', special_documents_path %>
