<button type="button" class="btn btn-large" data-toggle="collapse" data-target="#filters-<%= this.type %>">
    <%= $.i18n._('btn.filter') %> &gt;&gt;
</button>
<div class='height-top' style="margin-top: 25px;">
<div id="filters-<%= this.type %>" class="collapse">
<div style="border: 3px coral solid;"> 
<fieldset class="control-group filters">

        <!--button type="button" class="btn select-all">Select All</button-->



    <!--legend>Filter your results by...</legend-->
<table>
<tr>
<td colspan="5" align="center"> 
          <button type="button" class="btn btn-info deselect-all">清空选项</button>
</td>
</tr>
<tr>
<% 
	var count = 0;
	for(i=0;i< this.doc_type.length;i++){
	    var dt = this.doc_type[i];
	    if (dt.dic_num != 0){	    
		count = count + 1;
		
%>
		<td> <label class="checkbox"> <input type='checkbox' name='filter'  value='<%= dt.dic_num%>'><%= dt.dic_name%></label> </td> 
<% if(count%5 == 0){%>
	</tr>
	<tr>
<% } } } %>
</tr>
</table>

</fieldset>
</div>
</div>
</div>
