<% if (this.inquire) { %>
    <li><a href="#inquire"><%= $.i18n._('subnav.add_remove_inquiry') %></a></li>
<% } %>
<% if (this.check) { %>
    <li><a href="#checkout"><%= $.i18n._('subnav.checkout') %></a></li>
<% } %>
<% if (this.print) { %>
    <li><a href="#print_doc"><%= $.i18n._('subnav.print_doc') %></a></li>
<% } %>
<% if (this.testify) { %>
    <li><a href="#court_doc"><%= $.i18n._('subnav.testify') %></a></li>
<% } %>
<% if (this.all_print) { %>
    <li><a href="#all_print"><%= $.i18n._('subnav.all_print') %></a></li>
<% } %>
<% if (this.dh_report) { %>  
     <li><a href="#dh_report">个人操作历史</a></li>  
 <% } %> 
