<%= form_for(@query_history) do |f| %>
  <% if @query_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query_history.errors.count, "error") %> prohibited this query_history from being saved:</h2>

      <ul>
      <% @query_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :doc_id %><br />
    <%= f.text_field :doc_id %>
  </div>
  <div class="field">
    <%= f.label :org %><br />
    <%= f.text_field :org %>
  </div>
  <div class="field">
    <%= f.label :doc_type %><br />
    <%= f.text_field :doc_type %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :print %><br />
    <%= f.check_box :print %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
