<h1>Listing query_histories</h1>

<table>
  <tr>
    <th>User</th>
    <th>Doc</th>
    <th>Org</th>
    <th>Doc type</th>
    <th>Ip</th>
    <th>Print</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @query_histories.each do |query_history| %>
  <tr>
    <td><%= query_history.user %></td>
    <td><%= query_history.doc_id %></td>
    <td><%= query_history.org %></td>
    <td><%= query_history.doc_type %></td>
    <td><%= query_history.ip %></td>
    <td><%= query_history.print %></td>
    <td><%= link_to 'Show', query_history %></td>
    <td><%= link_to 'Edit', edit_query_history_path(query_history) %></td>
    <td><%= link_to 'Destroy', query_history, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Query history', new_query_history_path %>
