<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>存量报关单证电子档案管理系统</title>
    <link href="/docview/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/docview/docview.css" rel="stylesheet" type="text/css" />
    <link href="/docview/subnav/subnav.css" rel="stylesheet" type="text/css" />
    <script type='text/javascript' src='/jquery/jquery.js'></script>
    <script type='text/javascript' src='../steal/steal.js'></script>
</head>
<body>
    <%=render :partial=>"layouts/nav", :locals => {:user_info => @user_info }%>
    <%= render :partial => "layouts/subnav" %>
<div class='container-fluid'>
    <%= render :partial => "layouts/notice" %>
    <div id="wrap" class='row-fluid'>
    <div class="span12">
        <%= yield %>
    </div>
    </div>
    <input id="action_name" type='hidden' value="<%= action_name%>"/>
    <a href="#" id="backTop"></a>
</div>
<div class="footer footer-fixed">
<%=render :partial => "layouts/version" %>
</div>
    <script type='text/javascript'>
    steal('/libs/jquery.i18n.min.js').then(function($) {
    });
    </script>
</body>

</body>
</html>
